#c1a {
    background-color: aquamarine;
}

#c2 {
    background-color: rgb(236, 127, 255);
}


#c3 {
    background-color: rgb(238, 255, 127);
}

#c1b {

    background-color: bisque;
}
.container {
    margin: 50px auto;
}

